:root {
  --color-light-beige: #DAD7CD;
  --color-light-green: #A3B18A;
  --color-dark-green: #588157;
  --color-darkest-green: #3A5A40;
  --color-very-dark-green: #344E41;

  .bg-dark-subtle {
    background-color: var(--color-darkest-green) !important;
  }

  .bg-dark {
    background-color: var(--color-very-dark-green) !important;
  }

  .bg-light {
    background-color: var(--color-light-green) !important;
  }

  .table {
    background-color: var(--color-light-green) !important;
  }

  .btn-primary {
    color: #fff;
    background-color: var(--color-dark-green);
    border: none;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: var(--color-darkest-green) !important;
    border: none;
  }

  #header-container {
    box-shadow: 0px 70px 35px rgba(0, 0, 0, 0.4);
  }
}

body {
  background-color: var(--color-light-beige);;
}


.card {
  background-color: var(--color-light-green);
}

.card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#table-container {
  display: flex;
  justify-content: center;
}

table {
  border-radius: 10px; /* Hier kannst du den Wert nach Bedarf anpassen */
  overflow: hidden !important; /* Wichtig, damit die Ecken ordentlich abgerundet werden */
  border-color: var(--color-dark-green)!important;
}

#detail-button {
  border-radius: 8px;
}

.card-body .card-img-top .card {
  border-radius: 10px !important;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}