<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Krankheiten</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<h1>Krankheiten</h1>
<table>
    <tr>
        <th>Name</th><th>Ansteckend</th><th>Behandlung</th>
    </tr>
    <tr th:each="krankheit : ${krankheiten}">
        <td th:text="${krankheit.name}"></td>
        <td th:text="${krankheit.ansteckend}"></td>
        <td th:text="${krankheit.behandlung}"></td>
    </tr>
</table>
</body>
</html>